{% extends 'base.html' %}

{% block content %}
{% if perms.book.add_book %}

<a href="{% url 'book:create-book' %}">book create </a><br><br>


{% endif %}


<a href="{% url 'book:author-create' %}">author create </a><br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">author</th>
      <th scope="col">detail</th>
    </tr>
  </thead>
  {% if books %}
  {% else %}
  <h3>Hech nima topilmadi</h3>
  {% endif %}
{% for book in books %}
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }} </td>
      <td>{{ book.description }}</td>
      <td>{{ book.price }}</td>
      {% if book.image %}
      <td><img width=100px height=150px src="{{ book.image.url }}"></td>
      {% else %}
      <td>Rasm mavjud emas</td>
      {% endif %}
      {% if book.author %}
      <td>{{ book.author.full_name }}</td>
      {% else %}
      <td>Xalq og'zaki ijodi </td>
      {% endif %}
{% if  request.user.is_authenticated %}
      <td><a href="{% url 'book:detail-book' book.pk %}">Detail</a> </td>
      {% else %}

      {% endif %}

    </tr>

{% endfor %}

</table>

{% include 'book/pagination.html' with books=books  %}


{% endblock %}