{% extends 'base.html' %}

{% block content %}

<a href="{% url 'book:create-book' %}">book create </a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Update</th>
      <th scope="col">delete</th>
    </tr>
  </thead>

    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title}}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.price }}</td>
      {% if book.file %}
      <td><a href="{{ book.file.url }}">upload</a></td>
      {% else %}
      <td>yoq</td>
      {% endif %}
            <td><a href="{% url 'book:update-book' book.pk %}">Update</a> </td>
      <td><a href="{% url 'book:delete-book' book.pk %}">Delete</a> </td>


    </tr>



</table>

{% endblock %}