<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bugun ORM</h1>
{% for  i in old %}
<p>{{ i }}</p>
{% endfor %}
{% for d in defer %}
{{ d.name }}
{{ d.price }}
{% endfor %}
{% for sh in shoxa %}
<h3>{{ sh.price }}   ||||| {{ sh.name }}</h3>

{% endfor %}
{% for n in new %}
{{ n }}
{% endfor %}
{% for c in cat %}
<h3>{{ c.name }}</h3>
<h4>{{ c.pro }} nechta product boglangani </h4>
<h5>{{ c.id }} categoryilarni idsisi</h5>
<hr>
{% endfor %}
{{ dic }}
{% for d in dic %}
<p>{{ d.id}}</p>
{% endfor %}

{% for product in kuyov %}
  <div>
    <h3>{{ product.name }}</h3>
    <p>Narxi: {{ product.price }}</p>
    <p>
      <span class="{% if product.price_label == 'Arzon' %}badge badge-success
                   {% elif product.price_label == 'O‘rtacha' %}badge badge-warning
                   {% else %}badge badge-danger{% endif %}">
        {{ product.price_label }}
      </span>
    </p>
  </div>
{% endfor %}

</body>
</html>